@font-face {
    font-family: 'Grand Hotel';
    src: url('GrandHotel-Regular.woff2') format('woff2'),
        url('GrandHotel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

