body {
    background: #ccc;

    p {
        font-family: "Grand Hotel";
        color: white;
        font-size: 50px;
        padding: 50px;
    }

    h1 {
        font-weight: bold;
        color: red;
        font-size: 48px;
        text-align: center;
    }
}


