@use '_variables' as *;
@use '_resets' as *;
@use '_fonts' as *;


//CSS Config

html {
  scroll-behavior: smooth;
}

body {
    font-family: $txt;
    background: $bg-grey;
    margin: 0 auto;
}

.container {
    width: 1440px;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin: 0;
    }
}

.cta {
    width: 250px;
    max-width: 100%;
    color: $txt-grey;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: $txt-yellow;
    border-radius: 5px;
    padding: 15px 0;
    cursor: pointer;
    transition: transform .3s ease-out;

    &:hover {
        transform: scale(1.05);
    }
}

.main-title {
    font-family: $title;
    font-size: 86px;
    color: $txt-yellow;
    margin-bottom: 20px;
}

.basic-title {
    font-family: $title;
    font-size: 65px;
    color: $txt-grey;
    text-align: center;
    margin-bottom: 40px;
}

.minor-title {
    font-family: $title;
    font-size: 35px;
    color: $txt-grey;
}

.subtitle {
    width: 875px;
    max-width: 100%;
    font-family: $txt;
    font-size: 25px;
    text-align: center;
    color: $txt-grey;
    margin: 15px auto 25px;
}

//Header
header {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: 40px 0 10px;
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .menu {
        ul {
            li {
                display: inline-block;
                margin: 0 15px;
                
                a {
                    font-size: 22px;
                    color: white;
                    text-decoration: none;
                    transition: font-weight .3s ease-out;
    
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .search-icon {
        width: 320px;
        height: 32px;
        position: relative;
        border-bottom: 1px solid black;

        &:before {
            content: '';
            width: 32px;
            height: 32px;
            background: url("../img/lupa.png") no-repeat center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}

// HERO

.hero {
    position: relative;

    .hero-bg{
        width: 100%;
        height: 100%;
    }

    .pencil-bg {
        height: 100vh;
        background: url('../img/hero.jpg') no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        

        .text-box {
            width: 620px;
            max-width: 100%;
            margin-right: 11rem;

            .description {
                font-size: 30px;
                color: white;
                margin-bottom: 30px;
            }
        }
    }
}

// Best Seller

.best-seller {
    padding: 135px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 75px;
    }

    .dish-box {
        width: 255px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.best-seller {
    background: white;
}