//Variáveis
$bg-grey:       #303030;
$txt-grey:      #333333;      
$txt-yellow:    #ffc200;
$title:         'Grand Hotel';
$txt:           'Montserrat';

//CSS Config
body {
    font-family: $txt;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin: 0;
    }
}